@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-header-height: calc(var(--spacing) * 16);
}
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Bricolage Grotesque", sans-serif;
}

div:is([style*="margin-left: 1.0in; margin-right: 1.0in"]):has(.BlueBox) {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.thisClassDoesntExist {
   font-family: "Bricolage Grotesque"; /* silly little hack to make fonts plugin install it */
}
